/* 2021년에 호돌월드 코드를 썻던 나 자신아 고마워*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300&display=swap');
html {
    background-color: rgb(0, 0, 0);
    font-family: 'IBM Plex Sans KR', sans-serif;
    top: 0;
    margin: 0;
    color: white;
}
a {
    text-decoration: none; 
    color: white;
}
body {
    margin: 0;
}
.TopNav a:hover {
    color: rgb(104, 16, 16);
}
.TopNav { 
    padding: 10px;
    font-size: 60px;
    float: center;
    background-color:rgb(0, 0, 0);
    width:100%;
    text-decoration: none;
    position: fixed;
    top: 0;
}
#Nav_Album {
    font-size: 50px;
    margin-left: 30px;
}
#Nav_Int {
    font-size: 50px;
    margin-left: 30px;
}
.MainView {
    margin-top: 200px;
    margin-left: 30px;
}
/* 기본 CSS 구성 끝*/
#Welcome {
    color: rgb(255, 255, 255);
}
.Contact {
    margin-top: 100px;
}
#email {
    color: rgb(255, 255, 255);
}
#OfficialYouTube {
    color: red;
    font-size: 30px;
}
/*CSS 반응형*/
@media(max-width:800px) 
{
    .TopNav { /*nav에 적용될 반응형*/
        position: fixed;
        padding: 1px;
        font-size: 35px;
        float: center;
        background-color:rgb(0, 0, 0);
        width:100%;
        position: fixed;
        top: 0;
    }
    #Nav_Album {
        font-size: 30px;
        margin-left: 15px;
    }
    #Nav_Int {
        font-size: 30px;
        margin-left: 15px;
    }
    .MainView {
        margin-top: 180px;
        margin-left: 15px;
    }
    #Welcome {
        color: rgb(255, 255, 255);
    }
    .Contact {
        margin-top: 80px;
    }
    #email {
        color: rgb(255, 255, 255);
    }
    #OfficialYouTube {
        color: red;
        font-size: 20px;
    }
    #RUSHLogoPng {
        width: 340px;
        height: 340px;
    }